.container-carros {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img-carro {
    margin-right: 20px;
    width: 400px;
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;
     transition: transform 0.3s ease-in-out;
}

.img-carro:hover {
    transform: scale(1.1); 
}
.container-detalhes {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
}
.container-detalhes span {
    font-family: 'Krona one';
    font-size: 16px;
}
:link {
text-decoration: none;    
}



@media screen and (max-width: 768px) {
    .container-carros {
        padding: 10px;
    }

    .img-carro {
        max-width: 100%;
        width: auto;
    }

    .container-detalhes span {
        font-size: 14px;
    }
}